.header {
  height: 100vh;
  background-image: url(../img/the-town-bg-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.header-head {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  
}

.header-logo h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 300ms linear;
}

.header-logo h1:hover {
  color: #007bff;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-menu {
  position: relative;
  display: none;
  height: 30px;
  width: 30px;
}

.navbar-menu span {
  display: block;
  height: 4px;
  width: 30px;
  border-radius: 999px;
  margin: 4px 0;
  background-color: #fff;
}

.navbar-list ul {
  display: flex;
  list-style: none;
  color: #fff;
}

.navbar-list ul li {
  margin: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 300ms linear;
}

.navbar-list ul li:hover {
  color: #007bff;
}

.header-central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-central h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  margin-bottom: 20px;
}

.header-central p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.header i {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  padding: 5px 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.header i:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 756px) {
  .header-head {
    justify-content: space-between;
    padding: 0 20px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-menu {
    display: block;
    transition: all 300ms linear;
    z-index: 2;
  }

  .navbar-menu span {
    transition: all 300ms linear;
  }

  .navbar-list {
    height: 100vh;
    width: 150px;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -150px;
    transition: all 300ms linear;
    z-index: 1;
  }

  .navbar-list.slide {
    right: 0px;
  }

  .navbar-list ul {
    display: block;
  }

  .navbar-list ul li {
    margin: 5px 15px;
  }

  .navbar-list ul li:hover {
    color: #fff;
  }

  .navbar-list ul li:nth-child(1) {
    margin-top: 60px;
  }

  .navbar-menu span.slide:nth-child(1) {
    transform: rotate(45deg) translateX(6px) translateY(5px);
  }

  .navbar-menu span.slide:nth-child(2) {
    opacity: 0;  
  }

  .navbar-menu span.slide:nth-child(3) {
    transform: rotate(-45deg) translateX(6px) translateY(-5px);
  }

  .header-central h1 {
    font-size: 40px;
  }
}
